.btnJoin, .nav-link, .btnNavbar {
    color: #000;
    font-weight: 600;
}

.btnHover:hover {
    transform: translateY(-6px);
}

.title {
    color: #000;
    font-weight: bolder;
}

.logo {
    width: 80px;
    height: 52px;
}

.hide-navigation-item {
    display: none !important;
}

.nav-item {
    margin-right: 80px;
    padding-left: 35px;
}

.navbar-nav {
    margin-top: 10px;
}

.img-fluid:hover {
    border-radius:50%;
    transition: 1s ease;
}

.dataTitle {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.register {
    font-size: 20px;
    font-weight: 600;
}

.col-3, .clicked {
    font-size: 30px;
}

.clicked {
    color: #0062ff;
}

.vertical {
    height: 50px;
    border-left: 10px solid #00ffbb;
}

.details {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 992px) {
    .btnNavbar, .dot {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .btnJoin {
        display: none !important;
    }
    .nav-item {
        margin-right: 0px;
        text-align: center;
        padding: 2px;
        margin-left: 14px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 575px) and (max-width: 1025px) {
    .img-fluid {
        width: 70%;
        height: auto;
    }
}

@media only screen and (max-width: 540px) {
    .col-3 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 450px){
    .col-3 {
        font-size: 15px;
        padding: 12px;
    }

    .dataTitle {
        font-size: 20px;
    }

    .description {
        font-size: 10px;
    }

    .details {
        font-size: 10px;
    }
}