.btnJoin, .nav-link, .btnNavbar {
    color: #000;
    font-weight: 600;
}

.title {
    color: #000;
    font-weight: bolder;
}

.logo {
    width: 80px;
    height: 52px;
}

.hide-navigation-item {
    display: none !important;
}

.nav-item {
    margin-right: 80px;
    padding-left: 35px;
}

.navbar-nav {
    margin-top: 10px;
}

.register {
    font-size: 30px;
    font-weight: bolder;
}

.btnSize {
    height: 50px;
}

.sponsor {
    background-color: #ecfafd;
}

.logoSpacing {
    margin-top: 25px;
    margin-bottom: 25px;
}

.imgSponsor {
    width: 100px;
    height: 62px;
}

.text-title {
    font-size: 23px;
}

.imgArrow {
    width: 20px;
    height: 55px;
    padding-bottom: 14px;
}

.spacingColumn {
    column-gap: 4px;
}

.symmetrical {
    padding-top: 8px;
    margin-right: 10px;
    font-size: 12px;
}

.imgFit {
    object-fit: fill;
    width: 100%;
    height: 200px;
    max-height: 200px;
    min-height: 150px;
}

@media only screen and (min-width: 992px) {
    .btnNavbar {
        display: none !important;
    }
    .dot {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .btnJoin {
        display: none !important;
    }
    .nav-item {
        margin-right: 0px;
        text-align: center;
        padding: 2px;
        margin-left: 14px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 510px) {
    .infoEdit {
        padding-bottom: 10px;
    }
}