body {
    background-color: #fffaed;
}

.btnJoin, .info, .nav-link, .btnNavbar {
    color: #000;
    font-weight: 600;
}

.btnHover:hover {
    transform: translateY(-6px);
}

.btnRefresh {
    transition: all 1s ease;
    background-color: #ffb170;
}

.btnRefresh:hover {
    border: 2px solid #111;
    box-shadow: 0px 0px 26px 8px hsla(323, 87%, 50%, 0.664);
    background-color: #000428;
}

.title {
    color: #000;
    font-weight: bolder;
}

.logo {
    width: 80px;
    height: 52px;
}

.hide-navigation-item {
    display: none !important;
}

.nav-item {
    margin-right: 80px;
    padding-left: 35px;
}

.navbar-nav {
    margin-top: 10px;
}

.imgFit {
    width: 200px;
    height: 250px;
}

.offlineDetail {
    font-size: 20px;
}

@media only screen and (min-width: 992px) {
    .btnNavbar {
        display: none !important;
    }
    .dot {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .btnJoin {
        display: none !important;
    }
    .nav-item {
        margin-right: 0px;
        text-align: center;
        padding: 2px;
        margin-left: 14px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
}